@import "../../variables";
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
/* font-family: 'Rubik Mono One', sans-serif; */


.header {
  background: var(--main-black);
  width: 100%;
  /* background: url('../../img/attractor1.jpg'); */
}

.header__title {
  text-align: center;
  padding-top: 15px;
  font-size: 24px;
  font-family: "Rubik Mono One", sans-serif;
  color: var(--second-purple);
}

.header__list {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
}

.header__list__item {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 2;
}

.header__list__link {
  text-align: center;
  font-size: 24px;
  color: var(--second-purple);
}

.header__list__link:hover:after,
.header__list__link:focus:after {
  width: 100%;
}

.header__list__link:after {
  color: var(--second-purple);
  background-color: var(--second-purple);
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  top: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: width .6s ease-in-out;
  text-align: center;
  font-size: 24px;
  color: var(--second-purple);
}